# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:

#Import dependencies
import pandas as pd
import citipy
import gmaps
import requests
#Import the API Key
from config import g_key

In [2]:
#Store the CSV file into a DataFrame
city_data_df = pd.read_csv('cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Klaksvik,FO,2021-04-18 16:50:42,62.2266,-6.5890,44.60,76,75,4.61
1,1,Butaritari,KI,2021-04-18 16:50:42,3.0707,172.7902,82.51,77,81,12.48
2,2,Cape Town,ZA,2021-04-18 16:49:04,-33.9258,18.4232,78.80,27,0,10.36
3,3,Albany,US,2021-04-18 16:49:25,42.6001,-73.9662,55.00,71,75,5.75
4,4,Bluff,NZ,2021-04-18 16:50:43,-46.6000,168.3333,55.00,83,80,10.00

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", 'Lng']]
#Get the maximum temperature and drop negative temperatures because 'weights' will not allow negative temps
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,
                                max_intensity = 300, point_radius=4)
#Performing list comprehension on the heatmap layer
#heat-layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)
#for temp in max_temp])

#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [6]:
#Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of percent wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# Get the Vacation Criteria

In [12]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip?90

In [13]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2021-04-18 16:50:42,3.0707,172.7902,82.51,77,81,12.48
2,2,Cape Town,ZA,2021-04-18 16:49:04,-33.9258,18.4232,78.80,27,0,10.36
7,7,Rikitea,PF,2021-04-18 16:50:45,-23.1203,-134.9692,76.96,74,2,7.18
14,14,Becerril,CO,2021-04-18 16:50:47,9.7041,-73.2793,88.11,61,100,6.35
17,17,Kalmunai,LK,2021-04-18 16:50:49,7.4167,81.8167,81.05,78,100,6.26
22,22,Riachao Das Neves,BR,2021-04-18 16:50:51,-11.7461,-44.9100,83.68,51,100,6.49
29,29,Sabya,SA,2021-04-18 16:50:53,17.1495,42.6254,87.80,62,0,8.05
39,39,Carlsbad,US,2021-04-18 16:46:10,33.1581,-117.3506,77.00,77,20,7.76
40,40,Cabo San Lucas,MX,2021-04-18 16:50:58,22.8909,-109.9124,79.00,46,1,3.44
41,41,Mahebourg,MU,2021-04-18 16:50:58,-20.4081,57.7000,77.00,94,75,16.11

In [14]:
preferred_cities_df.count()

City_ID       171
City          171
Country       170
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

# Map Vacation Criteria

## Get Travel Destinations

Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip. We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.

In [15]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country',  'Max Temp', "Lat",  "Lng", ]].copy()
hotel_df["Hotel Name"] = ''
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1          Butaritari      KI     82.51   3.0707  172.7902
2           Cape Town      ZA     78.80 -33.9258   18.4232
7             Rikitea      PF     76.96 -23.1203 -134.9692
14           Becerril      CO     88.11   9.7041  -73.2793
17           Kalmunai      LK     81.05   7.4167   81.8167
22  Riachao Das Neves      BR     83.68 -11.7461  -44.9100
29              Sabya      SA     87.80  17.1495   42.6254
39           Carlsbad      US     77.00  33.1581 -117.3506
40     Cabo San Lucas      MX     79.00  22.8909 -109.9124
41          Mahebourg      MU     77.00 -20.4081   57.7000

## Retrieve Hotels from a Nearby Search

Review the Nearby Search Results on the Google Place Search page here: https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests%0D%0A

In [16]:
#Dependencies and Setup
import requests
import gmaps

#Import API key
from config import g_key

In [18]:
#Set paramaters to search for a hotel in Paris
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key,
    'location': '48.8566, 2.3522'}
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f'{lat}, {lng}'
    
    #Use the search term: 'lodging' and our lat and lng
    #Use base URL to search for hotels in Paris
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,82.51,3.0707,172.7902,Isles Sunset Lodge
2,Cape Town,ZA,78.80,-33.9258,18.4232,Southern Sun Waterfront Cape Town
7,Rikitea,PF,76.96,-23.1203,-134.9692,Pension Maro'i
14,Becerril,CO,88.11,9.7041,-73.2793,Barrio El Carmen
17,Kalmunai,LK,81.05,7.4167,81.8167,VS Villa
22,Riachao Das Neves,BR,83.68,-11.7461,-44.9100,Casa Costa
29,Sabya,SA,87.80,17.1495,42.6254,Aseel Hotel Apartment
39,Carlsbad,US,77.00,33.1581,-117.3506,Carlsbad Inn Beach Resort
40,Cabo San Lucas,MX,79.00,22.8909,-109.9124,Hotel Tesoro Los Cabos
41,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} &deg;F</dd>
</dl>
"""

In [21]:
#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))