## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kirakira,SB,83.98,broken clouds,-10.4544,161.9205,SanBiz Lodge
1,2,Vao,NC,75.67,broken clouds,-22.6667,167.4833,Hotel Kou-Bugny
2,5,Arraial Do Cabo,BR,74.88,few clouds,-22.9661,-42.0278,Pousada Porto Praia
3,6,Rikitea,PF,78.75,overcast clouds,-23.1203,-134.9692,Pension Maro'i
4,16,Vaini,TO,82.40,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} &deg;F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.loc[(vacation_df["City"]=="Ballina")]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
79,158,Ballina,AU,61.0,clear sky,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Ballina")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Ballina")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Sidney")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Port Lincoln")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Yeppoon")]

In [40]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
79,158,Ballina,AU,61.0,clear sky,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron

In [41]:
vacation_start.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [52]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Latitude-longitude pairs
fig = gmaps.figure()
trip_itinerary = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2, stop3],
    travel_mode = 'BICYCLING')
fig.add_layer(trip_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,158,Ballina,AU,61.00,clear sky,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
1,158,Ballina,AU,61.00,clear sky,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
2,442,Sidney,AU,60.01,clear sky,-33.8679,151.2073,The Grace Sydney
3,304,Port Lincoln,AU,61.18,broken clouds,-34.7333,135.8667,Port Lincoln Hotel
4,535,Yeppoon,AU,69.80,overcast clouds,-23.1333,150.7333,Villa Mar Colina

In [59]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
#<dt>Max Temp</dt><dd>{Max Temp} &deg;F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))